*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
